div
  box-sizing: border-box

html, body
  margin: 0
  padding: 0
  height: 100vh
  overflow: hidden

virtualizer-lab::part(row)
  display: flex
  flex-direction: row
  align-items: center
  flex-wrap: nowrap
  width: 100%
  background-color: lightyellow
  border-bottom: 1px solid red
  div
    margin-right: 1em

